* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(46, 61, 51);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
}
.container {
  background-color: rgb(27, 43, 30);
  padding: 30px;
  width: 300px;
  max-width: 100%;
}
h2 {
  margin: 10px;
  text-align: center;
}
.setting {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
#generate-button {
  background-color: rgb(58, 65, 65);
  color: whitesmoke;
  font-size: medium;
  cursor: pointer;
  height: 40px;
  width: 300px;
}
.result-container {
  background-color: rgb(97, 117, 46);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  height: 60px;
}
#result {
  color: black;
  padding-left: 10px;
  font-weight: bolder;
  font-size: larger;
}
.result-container .btn {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
}
.btn {
  color: whitesmoke;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  background-color: rgb(36, 39, 39);
}
